<!-- ABOUT -->
<section class="about">
    <div class="about-inner">
        <div class="container">

            <div class="about__top">
                <div class="title-wrapper">
                    <h2 class="title-wrapper__main">
                        о компании
                    </h2>
                    <p class="title-wrapper__text">
                        Интересная история про  успехи компании
                    </p>
                </div>
            </div>

            <div class="about__content">
                <div class="about__items">

                    <div class="about__item">
                        <span class="about__item-number">
                            23
                        </span>
                        <p class="about__item-text">
                            года на рынке
                        </p>
                    </div>
    
                    <div class="about__item">
                        <span class="about__item-number">
                            11
                        </span>
                        <p class="about__item-text">
                            стран производства
                        </p>
                    </div>
    
                    <div class="about__item">
                        <span class="about__item-number">
                            38
                        </span>
                        <p class="about__item-text">
                            стран представительств
                        </p>
                    </div>
    
                    <div class="about__item">
                        <span class="about__item-number">
                            2900
                        </span>
                        <p class="about__item-text">
                            действующих сертификатов
                        </p>
                    </div>
    
                    <div class="about__item">
                        <span class="about__item-number">
                            175
                        </span>
                        <p class="about__item-text">
                            стран доставки
                        </p>
                    </div>
    
                    <div class="about__item">
                        <span class="about__item-number">
                            207
                        </span>
                        <p class="about__item-text">
                            продуктов
                        </p>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</section>
<!-- / ABOUT -->