<!-- ABOUT -->
<section class="about">
    <div class="about-inner">
        <div class="container">

            <div class="about__top">
                <div class="title-wrapper">
                    <h2 class="title-wrapper__main">о компании</h2>
                    <p class="title-wrapper__text">Интересная история про  успехи компании</p>
                </div>
            </div>

            <div class="about__content">
                <div class="about__items">

                    <div class="about__item">
                        <div class="about__item-number about__item-number--blue" data-max="23">
                            0
                        </div>
                        <div class="about__item-text">
                            года на рынке
                        </div>
                    </div>
    
                    <div class="about__item">
                        <div class="about__item-number about__item-number--dark-green" data-max="11">
                            0
                        </div>
                        <div class="about__item-text">
                            стран производства
                        </div>
                    </div>
    
                    <div class="about__item">
                        <div class="about__item-number about__item-number--light-red" data-max="38">
                            0
                        </div>
                        <div class="about__item-text">
                            стран представительств
                        </div>
                    </div>
    
                    <div class="about__item">
                        <div class="about__item-number about__item-number---certificates about__item-number--light-green" data-max="2900">
                            0
                        </div>
                        <div class="about__item-text">
                            действующих сертификатов
                        </div>
                    </div>
    
                    <div class="about__item">
                        <div class="about__item-number about__item-number--dark-red" data-max="175">
                            0
                        </div>
                        <div class="about__item-text">
                            стран доставки
                        </div>
                    </div>
    
                    <div class="about__item">
                        <div class="about__item-number about__item-number--purple" data-max="207">
                            0
                        </div>
                        <div class="about__item-text">
                            продуктов
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</section>
<!-- / ABOUT -->