<!-- ARTICLES -->
<section class="articles-section">
    <div class="articles-section-inner">
        
        <div class="container">
            <div class="articles-section-top">
                <div class="title-wrapper">
                    <h2 class="title-wrapper__main">
                        статьи про здоровье
                    </h2>
                    <p class="title-wrapper__text">
                        Поддержи свой иммунитет и заряд бодрости
                    </p>
                </div>
            </div>
        </div>

        <div class="articles-section-slider swiper">
            <div class="articles-section-items swiper-wrapper">

                <a class="articles-section__item articles-section-item swiper-slide" href="javascript:void(0)" aria-label="article">
                    <div class="articles-section-item__photo">
                        <img src="./images/default/article-1.webp" alt="articles section image" loading="lazy">
                    </div>
                    <div class="articles-section-item__content">
                        <p class="articles-section-item__text">
                            Очищение лимфатической системы
                        </p>
                    </div>
                </a>

                <a class="articles-section__item articles-section-item swiper-slide" href="javascript:void(0)" aria-label="article">
                    <div class="articles-section-item__photo">
                        <img src="./images/default/article-2.webp" alt="articles section image" loading="lazy">
                    </div>
                    <div class="articles-section-item__content">
                        <p class="articles-section-item__text">
                            Антипаразитарная программа для детей - O.A. Бутакова
                        </p>
                    </div>
                </a>

                <a class="articles-section__item articles-section-item swiper-slide" href="javascript:void(0)" aria-label="article">
                    <div class="articles-section-item__photo">
                        <img src="./images/default/article-3.webp" alt="articles section image" loading="lazy">
                    </div>
                    <div class="articles-section-item__content">
                        <p class="articles-section-item__text">
                            Антистрессовая программа - O.A. Бутакова
                        </p>
                    </div>
                </a>

                <a class="articles-section__item articles-section-item swiper-slide" href="javascript:void(0)" aria-label="article">
                    <div class="articles-section-item__photo">
                        <img src="./images/default/article-4.webp" alt="articles section image" loading="lazy">
                    </div>
                    <div class="articles-section-item__content">
                        <p class="articles-section-item__text">
                            Концепция здоровья
                        </p>
                    </div>
                </a>

            </div>
            <span class="articles-section__slider-pagination swiper-pagination"></span>
        </div>

        <button class="articles-section__btn btn btn--red" aria-label="Read all articles button">
            <span class="btn__text">
                читать все статьи
            </span>
        </button>

    </div>
</section>
<!-- / ARTICLES -->
