<!-- ARTICLES -->
<section class="articles">
    <div class="articles-inner">
        

        <div class="articles-top">
            <div class="title-wrapper title-wrapper--top-line">
                <h2 class="title-wrapper__main">статьи про здоровье</h2>
                <p class="title-wrapper__text">Поддержи свой иммунитет и заряд бодрости</p>
            </div>
        </div>

        <div class="articles-slider">
            <div class="articles-items swiper-wrapper">

                <a class="articles__item article-item swiper-slide" href="#" aria-label="article">
                    <div class="article-item__photo">
                        <img src="images/content/article-1.webp" alt="article image">
                    </div>
                    <div class="article-item__content">
                        <p class="article-item__text">
                            Очищение лимфатической системы
                        </p>
                    </div>
                </a>

                <a class="articles__item article-item swiper-slide" href="#" aria-label="article">
                    <div class="article-item__photo">
                        <img src="images/content/article-2.webp" alt="article image">
                    </div>
                    <div class="article-item__content">
                        <p class="article-item__text">
                            Антипаразитарная программа для детей - O.A. Бутакова
                        </p>
                    </div>
                </a>

                <a class="articles__item article-item swiper-slide" href="#" aria-label="article">
                    <div class="article-item__photo">
                        <img src="images/content/article-3.webp" alt="article image">
                    </div>
                    <div class="article-item__content">
                        <p class="article-item__text">
                            Антистрессовая программа - O.A. Бутакова
                        </p>
                    </div>
                </a>

                <a class="articles__item article-item swiper-slide" href="#" aria-label="article">
                    <div class="article-item__photo">
                        <img src="images/content/article-4.webp" alt="article image">
                    </div>
                    <div class="article-item__content">
                        <p class="article-item__text">
                            Концепция здоровья
                        </p>
                    </div>
                </a>

            </div>
            <div class="articles__slider-pagination swiper-pagination"></div>
        </div>

        <button class="articles__btn btn btn--discount">
            <span class="btn__text">подробнее</span>
        </button>

    </div>
</section>
<!-- / ARTICLES -->
