<!-- CONSULTANT -->
<section class="consultant">
    <div class="consultant-inner">
        <div class="container">

            <div class="consultant__title title-wrapper">
                <h2 class="title-wrapper__main">ваш консультант</h2>
            </div>

            <div class="consultant-content">

                <div class="consultant-photo">
                    <img src="images/content/consultant.webp" alt="consultant photo" loading="lazy">
                </div>

                <div class="consultant-info">
                    <h5 class="consultant-info__title">
                        наталья талда
                    </h5>
                    <a class="consultant-info__phone" href="tel:380632588842" aria-label="consultant phone" loading="lazy">
                        +38 (063) 258 - 88- 42
                    </a>
                    <a class="consultant-info__phone" href="tel:380952588842" aria-label="consultant phone" loading="lazy">
                        +38 (095) 258 - 88- 42
                    </a>
                    <div class="consultant-info__social social__items">
                        <a class="social__item" href="javascript:void(0)" aria-label="Telegram social">
                            <img src="images/default/telegram.webp" alt="social telegram" loading="lazy">
                        </a>
                        <a class="social__item" href="javascript:void(0)" aria-label="Whatcapp social">
                            <img src="images/default/whatsapp.webp" alt="social whatsapp" loading="lazy">
                        </a>
                        <a class="social__item" href="javascript:void(0)" aria-label="Viber social">
                            <img src="images/default/viber.webp" alt="social viber" loading="lazy">
                        </a>
                    </div>
                    <p class="consultant-info__description">
                        Для приобретения продукции со скидкой -20% вам нужно зарегистрироваться на официальном сайте компании CoralClub. После регистрации с вами свяжется консультант и поможет выбрать продукт, даст полную о нем консультацию, а также поможет осуществить заказ продукции через сайт.
                    </p>
                    <button class="consultant-info__btn btn btn--red">
                        <span class="btn__text">
                            получить 20% скидку
                        </span>
                    </button>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- / CONSULTANT -->
