<!-- CONSULTANT -->
<section class="consultant">
    <div class="consultant-inner">
        <div class="container">

            <div class="consultant__title title-wrapper">
                <h2 class="title-wrapper__main">
                    ваш консультант
                </h2>
            </div>

            <div class="consultant-content">

                <div class="consultant-photo">
                    <img src="images/content/consultant.webp" alt="consultant photo" loading="lazy">
                </div>

                <div class="consultant-info">
                    <h5 class="consultant-info__title">
                        наталья талда
                    </h5>
                    <a class="consultant-info__phone" href="tel:380509175463" aria-label="consultant phone">
                        +380 50 917 54 63
                    </a>
                    <div class="consultant-info__social social__items">
                        <a class="social__item" href="https://t.me/nataliatalda/" aria-label="Telegram social" target="_blank">
                            <img src="images/default/telegram.svg" alt="social telegram" loading="lazy">
                        </a>
                        <a class="social__item" href="whatsapp://send?phone=+380509175463" aria-label="Whatcapp social" target="_blank">
                            <img src="images/default/whatsapp.svg" alt="social whatsapp" loading="lazy">
                        </a>
                        <a class="social__item" href="viber://add?number=+380509175463" aria-label="Viber social" target="_blank">
                            <img src="images/default/viber.svg" alt="social viber" loading="lazy">
                        </a>
                    </div>
                    <p class="consultant-info__description">
                        <!-- Доброе время суток!😊<br>
                        Для приобретения продукции <a class="text-link" href="https://coral.club/ua/6034812.html?language=ru">с -20% скидкой - пройдите по ссылке »»»</a><br>
                        После регистрации с вами свяжется консультант, поможет выбрать продукт и осуществить заказ продукции через сайт в вашей стране. -->
                        Доброе время суток!🙂<br>
                        Для того, чтобы стать  партнером нашей команды - <a class="text-link" href="https://coral.club/ua/6034812.html?language=ru" target="_blank">пройдите по ссылке >>></a> <br>
                        После регистрации с вами свяжется наш консультант и поможет начать ваш бизнес в вашей стране.
                    </p>
                    <a class="consultant-info__btn btn btn--red" href="https://coral.club/ua/6034812.html?language=ru" aria-label="registration">
                        <span class="btn__text">
                            получить 20% скидку
                        </span>
                    </a>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- / CONSULTANT -->
