<!-- FOOTER -->
<footer class="footer">
    <div class="footer-inner">
        <div class="container">

            <div class="footer__menu">
                <div class="footer__menu-items">
                    
                    <ul class="footer__menu-item">
                        <li class="footer__menu-point">
                            <p class="footer__menu-title">
                                интернет-магазин
                            </p>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu products">
                                Продукты
                            </a>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu Payment for orders">
                                Оплата заказов
                            </a>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu Shipping methods">
                                Способы доставки 
                            </a>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu Returns">
                                Возврат
                            </a>
                        </li>
                    </ul>

                    <ul class="footer__menu-item">
                        <li class="footer__menu-point">
                            <p class="footer__menu-title">
                                интернет-магазин
                            </p>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu products">
                                Продукты
                            </a>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu Payment for orders">
                                Оплата заказов
                            </a>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu Shipping methods">
                                Способы доставки 
                            </a>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu Returns">
                                Возврат
                            </a>
                        </li>
                    </ul>

                    <ul class="footer__menu-item">
                        <li class="footer__menu-point">
                            <p class="footer__menu-title">
                                интернет-магазин
                            </p>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu products">
                                Продукты
                            </a>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu Payment for orders">
                                Оплата заказов
                            </a>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu Shipping methods">
                                Способы доставки 
                            </a>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu Returns">
                                Возврат
                            </a>
                        </li>
                    </ul>

                    <ul class="footer__menu-item">
                        <li class="footer__menu-point">
                            <p class="footer__menu-title">
                                интернет-магазин
                            </p>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu products">
                                Продукты
                            </a>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu Payment for orders">
                                Оплата заказов
                            </a>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu Shipping methods">
                                Способы доставки 
                            </a>
                        </li>
                        <li class="footer__menu-point">
                            <a class="footer__menu-link" href="#" aria-label="Footer menu Returns">
                                Возврат
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="footer__bottom">
                <p class="footer__bottom-copyright">
                    1999-2022 © Coral Club. Все права защищены
                </p>
                <p class="footer__bottom-text">
                    Designed by Denis Kiselyov
                </p>
            </div>
            
        </div>
    </div>
</footer>
<!-- / FOOTER -->
