<!-- HEAD -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="coralclub">
    <title>coralclub</title>

    <!-- FONTS -->

    <!-- FAVICON -->

    <!-- STYLES -->
    <link rel="preload" href="/css/libs.min.css" as="style">
    <link rel="stylesheet" href="/css/libs.min.css">
    <link rel="preload" href="/css/style.min.css" as="style">
    <link rel="stylesheet" href="/css/style.min.css">
<!-- / HEAD -->
