<!-- INTRO -->
<section class="intro">
    <div class="intro__inner">

        <div class="intro__slider">
            <div class="intro__slider-wrapper swiper-wrapper">
                <div class="intro__slider-item swiper-slide">
                    
                    <picture>
                        <source class="intro__slider-img" srcset="../images/content/intro-slider-360-1.webp" media="(max-width: 400px)" loading="lazy">
                        <source class="intro__slider-img" srcset="../images/content/intro-slider-768-1.webp" media="(max-width: 768px)" loading="lazy">
                        <source class="intro__slider-img" srcset="../images/content/intro-slider-1440-1.webp" media="(max-width: 1440px)" loading="lazy">
                        <img class="intro__slider-img" src="../images/content/intro-slider-1980-1.webp" alt="intro img" loading="lazy">
                    </picture>
                    
                </div>
                <div class="intro__slider-item swiper-slide">
                    
                    <picture>
                        <source class="intro__slider-img" srcset="../images/content/intro-slider-360-2.webp" media="(max-width: 400px)" loading="lazy">
                        <source class="intro__slider-img" srcset="../images/content/intro-slider-768-2.webp" media="(max-width: 768px)" loading="lazy">
                        <source class="intro__slider-img" srcset="../images/content/intro-slider-1440-2.webp" media="(max-width: 1440px)" loading="lazy">
                        <img class="intro__slider-img" src="../images/content/intro-slider-1980-2.webp" alt="intro img" loading="lazy">
                    </picture>
                    
                </div>
                <div class="intro__slider-item swiper-slide">
                    
                    <picture>
                        <source class="intro__slider-img" srcset="../images/content/intro-slider-360-3.webp" media="(max-width: 400px)" loading="lazy">
                        <source class="intro__slider-img" srcset="../images/content/intro-slider-768-3.webp" media="(max-width: 768px)" loading="lazy">
                        <source class="intro__slider-img" srcset="../images/content/intro-slider-1440-3.webp" media="(max-width: 1440px)" loading="lazy">
                        <img class="intro__slider-img" src="../images/content/intro-slider-1980-3.webp" alt="intro img" loading="lazy">
                    </picture>
                    
                </div>
                <div class="intro__slider-item swiper-slide">
                    
                    <picture>
                        <source class="intro__slider-img" srcset="../images/content/intro-slider-360-4.webp" media="(max-width: 400px)" loading="lazy">
                        <source class="intro__slider-img" srcset="../images/content/intro-slider-768-4.webp" media="(max-width: 768px)" loading="lazy">
                        <source class="intro__slider-img" srcset="../images/content/intro-slider-1440-4.webp" media="(max-width: 1440px)" loading="lazy">
                        <img class="intro__slider-img" src="../images/content/intro-slider-1980-4.webp" alt="intro img" loading="lazy">
                    </picture>
                    
                </div>
                <div class="intro__slider-item swiper-slide">
                    
                    <picture>
                        <source class="intro__slider-img" srcset="../images/content/intro-slider-360-5.webp" media="(max-width: 400px)" loading="lazy">
                        <source class="intro__slider-img" srcset="../images/content/intro-slider-768-5.webp" media="(max-width: 768px)" loading="lazy">
                        <source class="intro__slider-img" srcset="../images/content/intro-slider-1440-5.webp" media="(max-width: 1440px)" loading="lazy">
                        <img class="intro__slider-img" src="../images/content/intro-slider-1980-5.webp" alt="intro img" loading="lazy">
                    </picture>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- / INTRO -->