<!-- INTRO -->
<section class="intro">
    <div class="intro__inner">

        <div class="intro__slider">
            <div class="intro__slider-wrapper swiper-wrapper">
                <div class="intro__slider-item swiper-slide">
                    <img class="intro__slider-img" src="images/content/intro-slider-1.webp" alt="intro slider">
                </div>
                <div class="intro__slider-item swiper-slide">
                    <img class="intro__slider-img" src="images/content/intro-slider-2.webp" alt="intro slider">
                </div>
                <div class="intro__slider-item swiper-slide">
                    <img class="intro__slider-img" src="images/content/intro-slider-3.webp" alt="intro slider">
                </div>
                <div class="intro__slider-item swiper-slide">
                    <img class="intro__slider-img" src="images/content/intro-slider-4.webp" alt="intro slider">
                </div>
                <div class="intro__slider-item swiper-slide">
                    <img class="intro__slider-img" src="images/content/intro-slider-5.webp" alt="intro slider">
                </div>
            </div>
        </div>

    </div>
</section>
<!-- / INTRO -->