<!-- INTRO -->
<section class="intro">
    <div class="intro__inner">

        <div class="intro__slider">
            <div class="intro__slider-wrapper swiper-wrapper">
                <div class="intro__slider-item swiper-slide">
                    
                    <picture>
                        <source srcset="">
                        <img class="intro__slider-img" src="">
                    </picture>
                    

                </div>
                <div class="intro__slider-item swiper-slide">
                    
                    <picture>
                        <source srcset="">
                        <img class="intro__slider-img" src="">
                    </picture>
                    

                </div>
                <div class="intro__slider-item swiper-slide">
                    
                    <picture>
                        <source srcset="">
                        <img class="intro__slider-img" src="">
                    </picture>
                    

                </div>
                <div class="intro__slider-item swiper-slide">
                    
                    <picture>
                        <source srcset="">
                        <img class="intro__slider-img" src="">
                    </picture>
                    

                </div>
                <div class="intro__slider-item swiper-slide">
                    
                    <picture>
                        <source srcset="">
                        <img class="intro__slider-img" src="">
                    </picture>
                    

                </div>
            </div>
        </div>

    </div>
</section>
<!-- / INTRO -->