<!-- SALE -->
<section class="sale">
    <div class="sale__inner">
        <div class="container">
            <div class="sale__top">
                <div class="title-wrapper">
                    <h2 class="title-wrapper__main">хиты продаж</h2>
                    <p class="title-wrapper__text">Поддержи свой иммунитет и заряд бодрости</p>
                </div>
            </div>
            <div class="sale__items">

                <div class="product-card" ontouchstart="this.classList.toggle('hover');">
                    <div class="product-card__flip">
                        
                        <div class="product-card__front">
                            <div class="product-card__img">
                                <img src="images/content/product-card-1.webp" alt="product-card">
                            </div>
                            <div class="product-card__content">
                                <p class="product-card__content-type product-card__type">
                                    набор
                                </p>
                                <p class="product-card__content-title">
                                    Здоровый кишечник
                                </p>
                                <span class="product-card__content-price">
                                    2 322.00 - 2 902.50
                                </span>
                            </div>
                        </div>

                        <div class="product-card__back">
                            <p class="product-card__back-type product-card__type">
                                набор
                            </p>
                            <p class="product-card__back-description">
                                Способствует комплексному поэтапному восстановлению здорового функционирования кишечника и нормализации процесса пищеварения в целом.
                            </p>
                            <a class="btn btn--show-more product-card__back-button" href="#" aria-label="show more">
                                <span class="btn__text">подробнее</span>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="product-card" ontouchstart="this.classList.toggle('hover');">
                    <div class="product-card__flip">
                        
                        <div class="product-card__front">
                            <div class="product-card__img">
                                <img src="images/content/product-card-2.webp" alt="product-card">
                            </div>
                            <div class="product-card__content">
                                <p class="product-card__content-type product-card__type">
                                    набор
                                </p>
                                <p class="product-card__content-title">
                                    Иммунити пэк
                                </p>
                                <span class="product-card__content-price">
                                    2322.00 - 2 902.50
                                </span>
                            </div>
                        </div>

                        <div class="product-card__back">
                            <p class="product-card__back-type product-card__type">
                                набор
                            </p>
                            <p class="product-card__back-description">
                                Иммунити Пэк — набор для укрепления иммунитета.
                                способствует укреплению защитных сил организма;
                                повышает сопротивляемость негативным факторам окружающей среды;
                                помогает ускорить процессы регенерации.
                            </p>
                            <a class="btn btn--show-more product-card__back-button" href="#" aria-label="show more">
                                <span class="btn__text">подробнее</span>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="product-card" ontouchstart="this.classList.toggle('hover');">
                    <div class="product-card__flip">
                        
                        <div class="product-card__front">
                            <div class="product-card__img">
                                <img src="images/content/product-card-3.webp" alt="product-card">
                            </div>
                            <div class="product-card__content">
                                <p class="product-card__content-type product-card__type">
                                    2 х 500 мл
                                </p>
                                <p class="product-card__content-title">
                                    Би-Лурон
                                </p>
                                <span class="product-card__content-price">
                                    6 075.00 - 7 593.75
                                </span>
                            </div>
                        </div>

                        <div class="product-card__back">
                            <p class="product-card__back-type product-card__type">
                                2 х 500 мл
                            </p>
                            <p class="product-card__back-description">
                                Гиалурон-хондроитиновый комплекс для питания и восстановления хрящевой ткани суставов. Способствует выработке собственной синовиальной жидкости и обладает пролонгированным действием.
                            </p>
                            <a class="btn btn--show-more product-card__back-button" href="#" aria-label="show more">
                                <span class="btn__text">подробнее</span>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="product-card" ontouchstart="this.classList.toggle('hover');">
                    <div class="product-card__flip">
                        
                        <div class="product-card__front">
                            <div class="product-card__img">
                                <img src="images/content/product-card-4.webp" alt="product-card">
                            </div>
                            <div class="product-card__content">
                                <p class="product-card__content-type product-card__type">
                                   1 упаковка по 10 флаконов
                                </p>
                                <p class="product-card__content-title">
                                    Промарин Пептиды Коллагена
                                </p>
                                <span class="product-card__content-price">
                                    1 485.00 - 1 856.00
                                </span>
                            </div>
                        </div>

                        <div class="product-card__back">
                            <p class="product-card__back-type product-card__type">
                                1 УПАКОВКА ПО 10 ФЛАКОНОВ
                            </p>
                            <p class="product-card__back-description">
                                Источник морского гидролизованного коллагена для гладкой кожи, блестящих волос и крепких ногтей.
                            </p>
                            <a class="btn btn--show-more product-card__back-button" href="#" aria-label="show more">
                                <span class="btn__text">подробнее</span>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="product-card" ontouchstart="this.classList.toggle('hover');">
                    <div class="product-card__flip">
                        
                        <div class="product-card__front">
                            <div class="product-card__img">
                                <img src="images/content/product-card-5.webp" alt="product-card">
                            </div>
                            <div class="product-card__content">
                                <p class="product-card__content-type product-card__type">
                                    90 капсул
                                </p>
                                <p class="product-card__content-title">
                                    МайндСет
                                </p>
                                <span class="product-card__content-price">
                                    810.00 - 1 012.50
                                </span>
                            </div>
                        </div>

                        <div class="product-card__back">
                            <p class="product-card__back-type product-card__type">
                                90 капсул
                            </p>
                            <p class="product-card__back-description">
                                В комплекс входят аминокислоты, витамины группы В, растительные экстракты гингко билоба, готу колы, корня имбиря и зверобоя. Действие этих активных компонентов способствует улучшению кровоснабжения и питания головного мозга, памяти и внимания. 
                            </p>
                            <a class="btn btn--show-more product-card__back-button" href="#" aria-label="show more">
                                <span class="btn__text">подробнее</span>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="product-card" ontouchstart="this.classList.toggle('hover');">
                    <div class="product-card__flip">
                        
                        <div class="product-card__front">
                            <div class="product-card__img">
                                <img src="images/content/product-card-6.webp" alt="product-card">
                            </div>
                            <div class="product-card__content">
                                <p class="product-card__content-type product-card__type">
                                    набор
                                </p>
                                <p class="product-card__content-title">
                                    Healthy Start
                                </p>
                                <span class="product-card__content-price">
                                    2 038.00 - 2 548.00
                                </span>
                            </div>
                        </div>

                        <div class="product-card__back">
                            <p class="product-card__back-type product-card__type">
                                набор
                            </p>
                            <p class="product-card__back-description">
                                Здоровый старт – гармоничная комбинация пяти популярных продуктов Coral Club, которые помогают оздоровить пищеварительную, сердечно-сосудистую и нервную системы, вывести токсины, улучшить обмен веществ и справиться со стрессом. 
                            </p>
                            <a class="btn btn--show-more product-card__back-button" href="#" aria-label="show more">
                                <span class="btn__text">подробнее</span>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="product-card" ontouchstart="this.classList.toggle('hover');">
                    <div class="product-card__flip">
                        
                        <div class="product-card__front">
                            <div class="product-card__img">
                                <img src="images/content/product-card-7.webp" alt="product-card">
                            </div>
                            <div class="product-card__content">
                                <p class="product-card__content-type product-card__type">
                                    набор
                                </p>
                                <p class="product-card__content-title">
                                    Гидрамакс
                                </p>
                                <span class="product-card__content-price">
                                    2 322.00 - 2 902.50
                                </span>
                            </div>
                        </div>

                        <div class="product-card__back">
                            <p class="product-card__back-type product-card__type">
                                набор
                            </p>
                            <p class="product-card__back-description">
                                Гидрамакс — набор для оптимальной гидратации организма
                            </p>
                            <a class="btn btn--show-more product-card__back-button" href="#" aria-label="show more">
                                <span class="btn__text">подробнее</span>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="product-card" ontouchstart="this.classList.toggle('hover');">
                    <div class="product-card__flip">
                        
                        <div class="product-card__front">
                            <div class="product-card__img">
                                <img src="images/content/product-card-8.webp" alt="product-card">
                            </div>
                            <div class="product-card__content">
                                <p class="product-card__content-type product-card__type">
                                    набор
                                </p>
                                <p class="product-card__content-title">
                                    Рикавер
                                </p>
                                <span class="product-card__content-price">
                                    571.05 - 713.88
                                </span>
                            </div>
                        </div>

                        <div class="product-card__back">
                            <p class="product-card__back-type product-card__type">
                                набор
                            </p>
                            <p class="product-card__back-description">
                                Набор для восстановления после перенесенной респираторной инфекции.
                            </p>
                            <a class="btn btn--show-more product-card__back-button" href="#" aria-label="show more">
                                <span class="btn__text">подробнее</span>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- / SALE -->
