// === ARTICLES ===
.articles {
    padding-bottom: rem(100px);
    background-color: $white;

    &-inner {
        max-width: rem(1596px);
        margin: 0 auto;
    }

    &-top {
        margin-bottom: rem(130px);
    }

    &-items {
        display: flex;
    }

    &__btn {
        display: block;
        margin: 0 auto;
    }
}

.articles-slider {
    position: relative;
    max-width: rem(1596px);
    padding-bottom: rem(55px);
    margin-bottom: rem(59px);
    overflow: hidden;

    .swiper-pagination-bullet {
        width: rem(10px);
        height: rem(10px);
        cursor: pointer;
        background-color: #d0d0d0;
    }

    .swiper-pagination-bullet-active {
        background-color: #aaa;
    }
}

.article-item {
    display: block;
    width: 100%;
    max-width: rem(370px);
    min-height: rem(437px);
    background-color: white;
    transition: $transition;

    &__photo {
        max-width: rem(370px);
        height: rem(310px);
        margin-bottom: rem(46px);

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        padding: 0 rem(16px) rem(12px) rem(15px);
    }

    &__text {
        position: relative;
        padding-top: rem(15px);
        font-size: $fs-s;
        line-height: rem(23px);
        color: $dark;

        &::before {
            position: absolute;
            top: 0;
            width: 100%;
            height: rem(1px);
            content: '';
            background-color: #e6e6e6;
        }
    }

    &:hover {
        box-shadow: rem(5px) rem(5px) rem(15px) rem(5px) rgba(0, 0, 0, 0.15);
    }
}
// === / ARTICLES ===
