// === CONSULTANT ===
.consultant {
    margin-bottom: rem(150px);

    &__title {
        margin-bottom: rem(74px);
    }

    &-content {
        display: flex;
        justify-content: space-between;
    }

    &-photo {
        flex-shrink: 0;
        width: rem(556px);
        height: rem(564px);

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-info {
        width: 100%;
        max-width: rem(744px);
        font-size: $fs-xl;
        line-height: rem(38px);
        color: $dark;

        &__title {
            text-transform: uppercase;
        }

        &__phone {
            display: block;
            margin-top: rem(46px);

            & + & {
                margin-top: 0;
            }
        }

        &__social {
            margin-top: rem(40px);
        }

        &__description {
            margin-top: rem(39px);
            font-size: $fs-l;
            line-height: rem(33px);
        }

        &__btn {
            margin-top: rem(35px);
        }
    }

    &--dark-bg {
        background-color: #fbfbfb;
    }
}
// === / CONSULTANT ===

// === MEDIA ===

@media (max-width: 1400px) {
    .consultant {
        &-photo {
            width: rem(454px);
            height: rem(502px);
        }

        &-info {
            max-width: rem(572px);
        }

        &-content {
            justify-content: space-evenly;
        }
    }
}

@media (max-width: rem(1100px)) {
    .consultant-info {
        max-width: rem(450px);
    }
}

@media (max-width: rem(1000px)) {
    .consultant {
        margin-bottom: rem(80px);

        &-content {
            flex-direction: column;
            align-items: center;
        }

        &-info {
            margin-top: rem(72px);
            text-align: center;

            &__title {
                margin-bottom: rem(40px);
                font-size: rem(48px);
                line-height: rem(56px);
            }

            &__social {
                justify-content: space-between;
                width: 100%;
                margin: rem(56px) auto 0;

                .social__item {
                    width: rem(80px);
                    height: rem(80px);
                }
            }

            &__description {
                margin-top: rem(40px);
                font-size: rem(16px);
                line-height: rem(19px);
                text-align: left;
            }

            &__btn {
                display: inline-flex;
                justify-content: center;
                margin-top: rem(40px);
            }

            &__phone {
                margin-top: rem(10px);
                font-size: rem(32px);
                line-height: rem(38px);
            }
        }
    }
}

@media (max-width: rem(800px)) {
    .consultant-photo {
        width: 100%;
        height: rem(650px);
    }
}

@media (max-width: rem(500px)) {
    .consultant {
        &-photo {
            width: 100%;
            max-width: rem(720px);
            height: 100%;
            max-height: rem(650px);
        }

        &__title {
            margin-bottom: rem(45px);
        }

        &-info {
            margin-top: rem(32px);

            &__title {
                margin-bottom: rem(10px);
                font-size: rem(32px);
                line-height: rem(38px);
            }

            .social__item {
                width: rem(64px);
                height: rem(64px);
            }

            &__social {
                margin-top: rem(32px);
            }

            &__description {
                margin-top: rem(28px);
            }

            &__btn {
                margin-top: rem(45px);
            }
        }
    }
}

@media (max-width: rem(400px)) {
    .consultant-info {
        font-size: rem(20px);
    }
}
