// === DELIVERY-AND-PAYMENT ===
.delivery-and-payment {
    position: relative;
    padding-top: rem(100px);

    &::before {
        position: absolute;
        top: 0;
        right: 50%;
        left: 50%;
        width: rem(1216px);
        height: rem(721px);
        content: '';
        background: url('../images/content/map.webp') top center / cover no-repeat;
        transform: translateX(-50%);
    }

    &__text {
        margin-top: rem(79px);
    }

    .title-wrapper {
        padding-top: rem(44px);
    }
}

// === / DELIVERY-AND-PAYMENT ===

// === MEDIA ===

@media (max-width: rem(950px)) {
    .delivery-and-payment {
        padding-top: rem(40px);

        .title-wrapper {
            padding-top: rem(35px);
        }

        &__text {
            margin-top: rem(40px);
        }
    }
}
