// === ENTRY ===
.entry {
    height: rem(255px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include displayFlexCenter;

    &__title {
        font-size: rem(52px);
        font-weight: 700;
        line-height: rem(50px);
        text-align: center;
        text-transform: uppercase;

        &--light {
            color: $white;
        }

        &--dark {
            color: $dark;
        }

        &--youth-with-collagen {
            padding: rem(15px);
            background-color: #c11f6b;
        }
    }
}

// === / ENTRY ===

// === MEDIA ===

@media (max-width: rem(800px)) {
    .entry {
        height: rem(216px);

        &__title {
            font-size: rem(35px);
            line-height: rem(30px);
        }
    }
}

@media (max-width: rem(500px)) {
    .entry {
        height: rem(130px);

        &__title {
            font-size: rem(25px);
            line-height: rem(20px);

            &--youth-with-collagen {
                padding: rem(10px);
            }
        }
    }
}

@media (max-width: rem(400px)) {
    .entry__title {
        font-size: rem(16px);
        line-height: rem(19px);

        &--youth-with-collagen {
            padding: rem(10px);
        }
    }
}
