// === ENTRY ===
.entry {
    height: 242px;
    background-repeat: no-repeat;
    background-size: cover;
    @include displayFlexCenter;

    &__title {
        font-size: rem(52px);
        font-weight: 700;
        line-height: rem(35px);
        color: white;
        text-transform: uppercase;
    }
}
// === ENTRY ===
