// === FOOTER ===
.footer {
    color: $light-50;
    background-color: $dark;
}

.footer__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: rem(66px) 0 rem(61px) 0;
    font-size: $fs-xxs;
    line-height: rem(16px);

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: rem(1px);
        content: '';
        background-color: $gray;
    }

    &-text {
        max-width: 40%;
        opacity: 0.5;
    }

    &-copyright {
        max-width: 40%;
    }
}

.footer__menu {
    padding: rem(66px) 0 rem(37px) 0;

    &-items {
        display: flex;
        justify-content: space-between;
    }

    &-point + &-point {
        margin-top: rem(14px);
    }

    &-title {
        font-size: rem(24px);
        line-height: rem(24px);
        @include Bebas_Neue_Cyrillic;
    }

    &-link {
        transition: $transition;

        &:hover {
            color: darken($light-50, 25%);
        }
    }
}
// === / FOOTER ===

// === MEDIA ===

@media (max-width: rem(700px)) {
    .footer {
        &__menu {
            padding: rem(44px) 0 0 0;

            &-items {
                display: block;
                column-count: 2;
            }

            &-item {
                margin-bottom: rem(60px);
            }
        }

        &__bottom {
            padding: 18px 0 36px;

            &-text {
                display: none;
                font-size: 14px;
                line-height: 16px;
                opacity: 1;
            }
        }
    }
}

@media (max-width: rem(400px)) {
    .footer__menu {
        &-items {
            column-count: 1;
        }

        &-item {
            margin-bottom: rem(50px);
        }
    }
}
