// === HEADER ===

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(#fff, 80%);
    backdrop-filter: blur(11.5px);
}

.header-top {
    z-index: 99999;
    border-bottom: rem(1px) solid $gray;

    &__menu {
        max-width: rem(940px);
        padding: 0 rem(15px);
        margin: 0 auto;
    }
}

.top-menu__list {
    height: rem(37px);
    text-transform: uppercase;
    @include displayFlexCenter;

    &-item {
        font-size: $fs-xxs;
        line-height: rem(16px);

        & + & {
            margin-left: rem(70px);
        }

        &-link {
            transition: $transition;

            &:hover {
                color: lighten(black, 50%);
            }
        }
    }
}

.header-center {
    z-index: 9999;
    display: flex;
    align-items: center;
    max-width: rem(1708px);
    height: rem(113px);
    padding: 0 rem(15px);
    margin: 0 auto;

    &__lang {
        margin: 0 rem(41px) 0 rem(97px);
    }
}

.header-center__social-title {
    display: none;
}

.header-search {
    margin-left: auto;

    &__button {
        width: rem(32px);
        height: rem(32px);
        margin-left: auto;
        cursor: pointer;
        background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.0889 22.2056L18.4027 16.8577C20.2569 15.0556 21.4313 12.6142 21.4313 9.88208C21.4313 4.41787 16.7339 0 10.9241 0C5.1143 0 0.416992 4.41787 0.416992 9.88208C0.416992 15.3463 5.1143 19.7642 10.9241 19.7642C13.1492 19.7642 15.2506 19.0666 16.9812 17.9621L22.791 23.4263C22.9764 23.6007 23.2236 23.6589 23.4709 23.6589C23.7181 23.6589 23.9653 23.6007 24.1507 23.4263C24.4598 23.0776 24.4598 22.5544 24.0889 22.2056ZM2.27119 9.88208C2.27119 5.40608 6.16501 1.7439 10.9241 1.7439C15.6832 1.7439 19.5771 5.40608 19.5771 9.88208C19.5771 14.3581 15.6832 18.0203 10.9241 18.0203C6.16501 18.0203 2.27119 14.3581 2.27119 9.88208Z' fill='%232F3035'/%3e%3c/svg%3e ") no-repeat center center;
        opacity: 30%;
    }
}

.lang {
    &__items {
        display: flex;
    }

    &__item {
        font-size: rem(24px);
        line-height: rem(28px);
        cursor: pointer;
        opacity: .2;
        transition: $transition;

        & + & {
            margin-left: rem(24px);
        }

        &--active {
            opacity: 1;
        }

        &:hover {
            opacity: .6;
        }
    }
}

// === MENU ===

.header-bottom__menu {
    background-color: #00c1b6;
}

.menu {
    max-width: rem(1092px);
    padding: 0 rem(15px);
    margin: 0 auto;

    &__list {
        display: flex;
        align-items: center;
        height: 66px;

        &-item {
            position: relative;
            padding: 0 rem(20px);
            color: $white;
            text-align: center;
            text-transform: uppercase;

            &::before {
                position: absolute;
                top: 50%;
                right: 0;
                bottom: 50%;
                width: rem(1px);
                height: rem(50px);
                content: '';
                background-color: $white;
                transform: translateY(-50%);
            }

            &:last-child::before {
                display: none;
            }

            &-link {
                transition: $transition;

                &:hover {
                    color: darken($white, 15%);
                }
            }
        }
    }
}

.dropdown {
    position: absolute;
    // top: -1000%;
    top: rem(217px);
    right: 0;
    left: 0;
    z-index: -1;
    // max-height: 66vh;
    max-height: 0;
    overflow: auto;
    background-color: $white;
    // opacity: 0;
    transition: all .5s ease-in-out;

    &::-webkit-scrollbar {
        width: 0;
    }

    &__items {
        column-count: 4;
        max-width: rem(1160px);
        padding: rem(70px) rem(30px);
        margin: 0 auto;
    }

    &__mobile-title {
        position: relative;
        display: none;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: rem(26px);
        font-size: rem(12px);
        font-weight: 700;
        line-height: rem(14px);
        color: #c4c4c4;
        text-transform: uppercase;

        &::before {
            position: absolute;
            top: 50%;
            bottom: 50%;
            left: 0;
            width: rem(16px);
            height: rem(13px);
            content: '';
            background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.77808 11.3136L1.41412 4.94964L-9.72748e-05 6.36386L6.36386 12.7278L7.77808 11.3136Z' fill='%23C4C4C4'/%3e%3cpath d='M1.41406 7.77817L7.77802 1.41421L6.36381 0L-9.72748e-05 6.36386L1.41406 7.77817Z' fill='%23C4C4C4'/%3e%3cpath d='M1.77808 7.00001H15.7781V5.00001H1.77808V7.00001Z' fill='%23C4C4C4'/%3e%3c/svg%3e ");
            transform: translateY(-50%);
        }

        &-wrapper {
            display: none;
            align-items: center;
            height: rem(75px);
            padding: 0 rem(22px);
            cursor: pointer;
            user-select: none;
            background-color: #fafafa;
        }
    }
}

.dropdown__item {
    max-width: rem(215px);
    margin-bottom: rem(28px);

    &-title {
        font-size: $fs-s;
        line-height: rem(20px);
        @include Bebas_Neue_Cyrillic($weight: 400);
    }

    &-point {
        margin-top: rem(6px);

        & + & {
            margin-top: rem(12px);
        }
    }

    &-link {
        font-size: $fs-xxs;
        line-height: rem(16px);
        color: $dark;
    }
}

.header-catalog__dropdown--active,
.header-cleansing__dropdown--active {
    // top: rem(217px);
    // opacity: 1;
    max-height: 66vh;
}

.header-cleansing {
    .dropdown__items {
        column-count: auto;
    }

    .dropdown__item-point {
        list-style: none;
    }
}

// === HEADER ===

.burger-btn {
    position: relative;
    display: none;
    width: rem(22px);
    height: rem(16px);
    cursor: pointer;
    transition: $transition;

    span {
        position: absolute;
        top: rem(7px);
        display: flex;
        width: 100%;
        height: rem(2px);
        background-color: $dark;
        transition: $transition;
    }

    &::before,
    &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: rem(2px);
        content: "";
        background-color: $dark;
        transition: $transition;
    }

    &::before {
        bottom: 0;
    }

    &::after {
        top: 0;
    }
}

// === SEARCH FORM ===

.search {
    position: fixed;
    top: -150%;
    right: 0;
    left: 0;
    z-index: 9999;
    height: 100vh;
    padding-bottom: rem(30px);
    background-color: #fafafa;
    transition: $transition;

    &-form {
        &__input-wrapper {
            position: absolute;
            top: rem(110px);
            right: 0;
            left: 0;
        }

        &__input {
            width: 100%;
            padding: rem(5px) rem(30px);
            font-size: rem(24px);
            font-weight: 700;
            line-height: rem(28px);
            color: $dark;
            text-transform: capitalize;
            border-bottom: 1px solid #d9d9d9;

            &::placeholder {
                font-size: rem(24px);
                font-weight: 300;
                line-height: rem(28px);
                color: #dddfe0;
                text-transform: none;
            }
        }

        &__info,
        &__result {
            margin: rem(21px) rem(30px) 0;
            font-size: rem(14px);
            font-weight: 300;
            line-height: rem(16px);
            color: $dark;
        }

        &__button-close {
            position: absolute;
            top: rem(18px);
            right: rem(17px);
            width: rem(24px);
            height: rem(24px);
            cursor: pointer;
            background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21.6355 4.84323e-05L24 2.36452L2.36451 24L3.84437e-05 21.6355L21.6355 4.84323e-05Z' fill='%2336414D'/%3e%3cpath d='M0 2.36447L2.36447 0L24 21.6355L21.6355 24L0 2.36447Z' fill='%2336414D'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &--active {
        top: 0;
    }
}

.header-mobile {
    &-wrapper {
        display: none;
        padding: 0 rem(15px);
    }

    &__item {
        position: relative;

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: rem(1px);
            content: '';
            background-color: #ebebeb;
        }
    }

    &-phone {
        font-size: rem(20px);
        font-weight: 400;
        line-height: rem(24px);
        @include Bebas_Neue_Cyrillic($weight: 400);
    }

    &-bottom__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: rem(20px) rem(13px);

        .choices {
            width: rem(37px);
            margin: 0;

            &__inner {
                min-height: rem(14px);
                padding: 0 rem(18px) 0 0;
                background-color: transparent;
                border: none;
                border-radius: 0;
            }

            .is-highlighted {
                padding: rem(8px) 0;
                background-color: #d8d2c69e;
            }

            &__list {
                &--dropdown .choices__item--selectable {
                    padding: rem(8px) 0;
                }

                &--single {
                    padding: 0;
                }
            }
        }

        .choices[data-type*=select-one] {
            &::after {
                top: 35%;
                right: 0;
                bottom: 50%;
                width: rem(10px);
                height: rem(6px);
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='1.11108' width='7.07115' height='1.57137' transform='rotate(45 1.11108 0)' fill='%2336414D'/%3e%3crect x='3.88892' y='5' width='7.07115' height='1.57137' transform='rotate(-45 3.88892 5)' fill='%2336414D'/%3e%3c/svg%3e");
                border: none;
                border-style: none;
                transition: 0.15s;
                transform: translateY(-50%);
            }

            &.is-open::after {
                margin-top: -3.5px;
                transform: rotate(-180deg);
            }
        }

        .choices__list--dropdown {
            border: none;
            border-radius: rem(5px);
            transition: $transition;

            .choices__item {
                padding: rem(10px) 0;
                font-size: rem(16px);
                font-weight: 400;
                line-height: rem(14px);
                color: $dark;

                &--selectable::after {
                    display: none;
                }
            }
        }
    }
}

.dropdown__item-list-title-wrapper {
    display: none;
}

// === HEADER RESPONSE ===

@media (max-width: rem(1440px)) {
    .header-center {
        &__lang {
            margin: 0 rem(32px) 0 rem(30px);
        }

        &__social {
            margin-left: rem(17px);
        }
    }
}

@media (max-width: rem(1250px)) {
    .logo__content {
        display: none;
    }

    .top-menu__list-item + .top-menu__list-item {
        margin-left: rem(35px);
    }
}

@media (max-width: rem(1000px)) {
    .btn .btn__text br {
        display: block;
    }

    .wrapper {
        padding-top: rem(57px);
    }

    .header-mobile-wrapper,
    .burger-btn {
        display: block;
    }

    .dropdown__mobile-title {
        display: flex;
    }

    .logo {
        align-items: center;

        &__photo {
            width: rem(29px);
            height: rem(24px);
        }

        &__content {
            display: block;
            margin-left: rem(14px);

            &-top {
                font-size: rem(6px);
                line-height: rem(7px);
            }

            &-bottom {
                font-size: rem(12px);
                line-height: rem(14px);
            }

            span + span {
                margin-top: rem(2px);
            }
        }
    }

    .header {
        max-height: 100vh;
        background-color: white;

        &__inner {
            position: relative;
        }

        &-top {
            border: 0;
        }

        &-search {
            order: 1;
            margin: 0;
        }

        &-search__form {
            max-width: fit-content;
        }

        &-top {
            z-index: 0;

            &__menu {
                max-width: 100%;
            }

            &-mobile-wrapper {
                display: flex;
                flex-direction: column;
                height: 0;
                overflow-y: scroll;
                font-size: rem(12px);
                font-weight: 700;
                line-height: rem(14px);
                transition: $transition;
            }
        }

        &-bottom__menu {
            background-color: white;
        }
    }

    .header-center {
        position: relative;
        justify-content: space-between;
        max-width: 100%;
        height: rem(56px);
        padding: rem(16px) rem(20px);
        margin: 0;
        border-bottom: rem(1px) solid #f2f2f2;

        &__lang {
            display: none;
        }

        &__discount {
            margin: 0 rem(5px);

            & .btn {
                min-width: auto;
                max-width: rem(90px);
                padding: rem(5px) rem(5px);
                border-radius: rem(8px);

                .btn__text {
                    display: block;
                    font-size: rem(10px);
                    line-height: rem(10px);
                    // white-space: pre-wrap;
                }
            }
        }

        &__logo {
            margin-left: rem(10px);
        }

        &__social {
            margin-left: 0;
            @include displayFlexCenter;

            &-title {
                display: block;
                width: 45%;
                // font-size: rem(14px);
                // line-height: rem(15px);
                text-align: center;
                text-transform: uppercase;
            }

            .social__items {
                justify-content: center;
            }

            .social__item {
                width: rem(28px);
                height: rem(28px);
            }
        }
    }

    .menu {
        max-width: 100%;

        &__list {
            display: block;
            height: 100%;
        }

        &__list-item {
            font-size: rem(12px);
            color: $dark;
            text-align: left;

            &-link {
                display: block;
                padding: rem(24px) 0 rem(25px) 0;
            }

            &:last-child::before {
                display: block;
            }

            &::before {
                top: 0;
                right: 0;
                width: 100%;
                height: rem(1px);
                background-color: #ebebeb;
            }
        }
    }

    .top-menu__list {
        display: block;
        height: 100%;

        &-item-link {
            position: relative;
            display: block;
            padding: rem(24px) rem(20px) rem(25px) rem(20px);
            color: $dark;
            text-transform: uppercase;

            &::before {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: rem(1px);
                content: '';
                background-color: #ebebeb;
            }
        }

        &-item {
            font-size: rem(12px);
        }

        &-item + &-item {
            margin: 0;
        }
    }

    .dropdown {
        position: absolute;
        top: -100vh;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        max-height: 100vh;
        overflow-y: scroll;
        background-color: white;

        &__mobile-title-wrapper {
            display: flex;
        }

        &__items {
            padding: 0 rem(20px);
            column-count: 1;
            font-size: rem(12px);
            font-weight: 700;
            line-height: rem(14px);
        }

        &__item {
            max-width: 100%;
            margin: 0;
            font-size: rem(12px);
            color: $dark;
            cursor: pointer;
            user-select: none;
            transition: $transition;

            &:hover {
                color: lighten(black, 50%);
            }

            &-title,
            &-point {
                font-size: rem(12px);
                font-weight: 700;
                line-height: rem(14px);
            }

            &-point {
                margin: 0;

                & + & {
                    margin: 0;
                }
            }

            &-title,
            &-link {
                position: relative;
                padding: rem(24px) rem(20px) rem(25px) rem(20px);
                font-size: rem(12px);

                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: rem(1px);
                    content: '';
                    background-color: #ebebeb;
                }
            }

            &-title {
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
            }

            &-link {
                display: block;
            }
        }
    }

    .header-cleansing__dropdown--active {
        .dropdown__item-point {
            display: block;
        }
    }

    .header-catalog__dropdown--active,
    .header-cleansing__dropdown--active {
        top: rem(56px);
        z-index: 1;
    }

    .dropdown__item-mobile {
        .dropdown__item-title {
            @include mobileHeaderArrow;
        }

        &--open .dropdown__item-point {
            display: block;
        }
    }

    .menu__list-item--mobile {
        @include mobileHeaderArrow;
    }

    .header--active {
        .burger-btn {
            &::before {
                bottom: rem(4px);
                transform: rotate(-45deg);
            }

            span {
                opacity: 0;
            }

            &::after {
                top: rem(10px);
                transform: rotate(45deg);
            }
        }

        .header-top-mobile-wrapper {
            height: calc(100vh - 57px);
        }
    }

    .dropdown__item-list-title {
        position: relative;
        padding-left: rem(26px);
        font-size: rem(12px);
        font-weight: 700;
        line-height: rem(14px);
        color: #c4c4c4;
        text-transform: uppercase;

        &::before {
            position: absolute;
            top: 50%;
            bottom: 50%;
            left: 0;
            width: rem(16px);
            height: rem(13px);
            content: '';
            background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.77808 11.3136L1.41412 4.94964L-9.72748e-05 6.36386L6.36386 12.7278L7.77808 11.3136Z' fill='%23C4C4C4'/%3e%3cpath d='M1.41406 7.77817L7.77802 1.41421L6.36381 0L-9.72748e-05 6.36386L1.41406 7.77817Z' fill='%23C4C4C4'/%3e%3cpath d='M1.77808 7.00001H15.7781V5.00001H1.77808V7.00001Z' fill='%23C4C4C4'/%3e%3c/svg%3e ");
            transform: translateY(-50%);
        }

        &-wrapper {
            display: flex;
            align-items: center;
            height: rem(75px);
            padding: 0 rem(22px);
            cursor: pointer;
            user-select: none;
            background-color: #fafafa;
        }
    }

    .dropdown__item-list-wrapper {
        position: absolute;
        top: -130%;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        max-height: 100vh;
        overflow-y: scroll;
        background-color: white;
        transition: $transition;

        &.dropdown__item-list-wrapper--active {
            top: 0;
        }
    }
}

@media (max-width: rem(580px)) {
    .header-center {
        &__social {
            justify-content: flex-start;
        }

        &__logo {
            display: none;
        }
    }
}

@media (max-width: rem(380px)) {
    .header-center {
        &__social {
            margin-left: rem(5px);

            .social__item + .social__item {
                margin-left: 11px;
            }

            &-title {
                font-size: rem(10px);
                line-height: rem(12px);
            }

            .social__items {
                margin: 0 rem(5px);
            }

            .social__item {
                width: rem(23px);
                height: rem(23px);
            }

            .social__item + .social__item {
                margin-left: rem(5px);
            }
        }

        &__discount .btn .btn__text {
            font-size: rem(9px);
        }
    }

    .header-mobile__button.btn {
        padding: rem(5px) rem(2px);

        .btn__text {
            font-size: rem(9px);
            line-height: rem(11px);
        }
    }
}
