// === JOIN ===
.join {
    height: rem(590px);
    background: url('../images/content/join.webp') center center / cover no-repeat;
    @include displayFlexCenter;
}

.join__button {
    min-width: rem(640px);
    max-width: rem(700px);
    padding: rem(36px);
    font-size: rem(44px);
    line-height: rem(52px);
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: rem(4px) solid white;
    transition: $transition;

    &:hover {
        color: rgba(255, 255, 255, 0.62);
        border-color: rgba(255, 255, 255, 0.62);
    }
}
// === / JOIN ===

// === MEDIA ===

@media (max-width: rem(700px)) {
    .join {
        height: rem(320px);

        &__button {
            min-width: rem(272px);
            padding: 10px;
            font-size: rem(22px);
            line-height: rem(26px);
        }
    }
}
