// === LEARNING-PLATFORM ===
.learning-platform {
    height: rem(270px);

    &-inner {
        flex-direction: column;
        height: 100%;
        background-color: $red-light;
        @include displayFlexCenter;
    }

    &__title {
        margin-bottom: rem(46px);

        &.title-wrapper {
            padding-top: 0;
        }

        .title-wrapper__main {
            color: white;
        }
    }

    &__btn {
        min-width: rem(322px);
        max-width: rem(322px);
        padding: rem(15px) rem(40px);
        margin: 0 auto;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: rem(16px);
        transition: $transition;

        &-text {
            font-size: rem(24px);
            line-height: rem(28px);
            color: white;
            text-align: center;
            text-transform: uppercase;
            transition: $transition;
        }

        &:hover {
            background-color: white;

            .learning-platform__btn-text {
                color: $red-light;
            }
        }
    }
}
// === / LEARNING-PLATFORM ===

// === MEDIA ===

@media (max-width: rem(600px)) {
    .learning-platform {
        height: rem(298px);

        &__title {
            margin-bottom: rem(65px);
        }

        .title-wrapper__main {
            font-size: rem(30px);
            line-height: rem(30px);
        }

        &__btn {
            min-width: rem(260px);
            padding: rem(10px);

            &-text {
                font-size: rem(18px);
                line-height: rem(21px);
            }
        }
    }
}
