// === MARATHONS ===
.marathons {
    padding-bottom: rem(44px);

    &__title {
        text-align: center;
    }

    &-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: rem(20px);
        grid-column-gap: rem(20px);
        margin-top: rem(80px);
    }

    &__card {
        display: flex;
        flex-direction: column;
        min-height: rem(280px);
        padding: rem(36px) rem(10px) rem(10px) rem(10px);
        color: $dark;
        user-select: none;
        background-position: center center;
        background-size: cover;
        border-radius: rem(16px);
        transition: background-size .5s;
        transition: $transition;

        &:hover {
            box-shadow: 0 0 rem(15px) 0 rgba($dark, 0.5);
        }

        &-title {
            font-size: rem(38px);
            font-weight: 700;
            line-height: rem(35px);
            color: white;
            text-align: center;
            text-transform: uppercase;
        }

        &-info {
            height: 100%;
            padding: rem(20px);
            margin-top: rem(30px);
            background-color: white;
            border-radius: 0 0 rem(9px) rem(9px);
        }

        &-subtitle {
            font-size: rem(30px);
            font-weight: 700;
            line-height: rem(35px);
            text-align: center;
        }

        &-text {
            margin-top: rem(20px);
            font-size: $fs-s;
            line-height: rem(23px);
        }

        &:nth-child(1n) {
            background-color: #05c8e4;
        }

        &:nth-child(2n) {
            background-color: #f23589;
        }

        &:nth-child(3n) {
            background-color: #f39404;
        }

        &:nth-child(4n) {
            background-color: #512970;
        }

        &:nth-child(5n) {
            background-color: #2c7406;
        }

        &:nth-child(6n) {
            background-color: #117d7d;
        }
    }
}
// === / MARATHONS ===

// === MEDIA ===

@media (max-width: rem(1440px)) {
    .marathons {
        .container {
            max-width: rem(1184px);
        }

        &__cards {
            &-title {
                font-size: rem(38px);
                line-height: rem(35px);
            }

            &-text {
                font-size: rem(18px);
                line-height: rem(21px);
            }
        }
    }
}

@media (max-width: rem(950px)) {
    .marathons {
        .container {
            max-width: rem(800px);
        }

        &-cards {
            grid-template-columns: repeat(1, 1fr);
            grid-row-gap: rem(40px);
        }

        &__cards-text {
            font-size: rem(20px);
            line-height: rem(23px);
        }
    }
}

@media (max-width: rem(600px)) {
    .marathons__card {
        padding-top: rem(20px);

        &-info {
            margin-top: rem(15px);
        }
    }
}

@media (max-width: rem(550px)) {
    .marathons {
        &-cards {
            grid-row-gap: rem(20px);
            margin-top: rem(40px);
        }

        &__card {
            min-height: rem(240px);
            border-radius: rem(10px);

            &-info {
                border-radius: 0 0 rem(5px) rem(5px);
            }

            &-title {
                font-size: rem(18px);
                line-height: rem(35px);
            }

            &-text {
                font-size: $fs-xs;
                line-height: rem(20px);
            }
        }
    }
}

@media (max-width: rem(450px)) {
    .marathons__card {
        min-height: rem(200px);
        padding-top: rem(10px);

        &-info {
            padding: rem(8px) rem(10px);
            margin-top: rem(5px);
        }

        &-subtitle {
            font-size: rem(20px);
        }

        &-text {
            margin-top: rem(10px);
            font-size: rem(12px);
            line-height: rem(12px);
        }
    }
}
