// === PARTNERSHIP ===
.partnership {
    &-items {
        margin: rem(80px) 0 rem(182px);
    }

    &__button {
        display: block;
        margin: 0 auto;
    }

    &-info {
        margin-top: rem(97px);
    }

    &-list {
        margin-top: rem(40px);
        margin-left: rem(20px);

        &__item {
            font-size: rem(20px);
            line-height: rem(23px);
            list-style: disc;
        }
    }
}

.partnership__item {
    display: flex;
    justify-content: space-between;

    & + & {
        margin-top: rem(130px);
    }

    &-photo {
        width: rem(504px);
        height: rem(504px);
        margin-top: rem(54px);

        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
    }

    &-info {
        width: 50%;
    }

    &-title {
        font-size: rem(60px);
        line-height: rem(60px);
        color: white;
        text-align: center;
        @include Bebas_Neue_Cyrillic($weight: 400);

        &-wrapper {
            display: inline-block;
            min-width: rem(344px);
            padding: rem(26px);
            background-color: $dark;
        }
    }

    &-subtitle {
        font-size: rem(48px);
        line-height: rem(48px);
        color: black;
        @include Bebas_Neue_Cyrillic($weight: 400);

        &-wrapper {
            margin-top: rem(49px);
        }

        &-wrapper--bg {
            display: inline-block;
            min-width: rem(344px);
            padding: rem(12px);
            margin-top: rem(19px);
            background-color: #00c0b3;

            & .partnership__item-subtitle {
                color: white;
            }
        }
    }

    &-text {
        margin-top: rem(49px);
        font-size: rem(28px);
        line-height: rem(33px);
        color: black;
    }
}

.partnership-features {
    margin-top: rem(54px);

    &__item {
        display: flex;
        align-items: center;

        & + & {
            margin-top: rem(20px);
        }

        &-img {
            margin-right: rem(15px);
        }

        &-text {
            font-size: rem(28px);
            line-height: rem(33px);
            color: black;
        }
    }
}
// === / PARTNERSHIP ===

// === MEDIA ===

@media (max-width: rem(1100px)) {
    .partnership__item-photo {
        width: rem(400px);
        height: rem(400px);
    }
}

@media (max-width: rem(900px)) {
    .partnership {
        &__item {
            & + & {
                margin-top: rem(40px);
            }

            &-photo {
                width: rem(350px);
                height: rem(350px);
            }

            &-title {
                font-size: rem(30px);
                line-height: rem(30px);

                &-wrapper {
                    min-width: rem(164px);
                    padding: rem(11px);
                }
            }

            &-subtitle {
                font-size: rem(30px);
                line-height: rem(30px);

                &-wrapper {
                    margin-top: rem(39px);
                }

                &-wrapper--bg {
                    min-width: rem(230px);
                    margin-top: rem(10px);
                }
            }

            &-text {
                margin-top: rem(40px);
                font-size: rem(16px);
                line-height: rem(19px);
            }
        }

        &-items {
            margin: rem(40px) 0 rem(80px);
        }
    }

    .partnership-features__item {
        &-img {
            margin-right: rem(58px);
        }

        &-text {
            font-size: rem(16px);
            line-height: rem(19px);
        }
    }
}

@media (max-width: rem(780px)) {
    .partnership__item-photo {
        width: rem(280px);
        height: rem(280px);
    }
}

@media (max-width: rem(650px)) {
    .partnership__item {
        &-photo {
            display: none;
        }

        &-info {
            width: 100%;
            margin-left: 0;
        }
    }
}
