// === PRODUCT - PAGE ===
.product-page {
    .breadcrumbs {
        margin-left: rem(40px);
    }

    &__top {
        padding: rem(67px) 0 rem(216px) 0;
        background-color: #fafafa;
    }

    &__content {
        display: flex;
        justify-content: space-around;
    }

    &__info {
        width: 45%;
    }

    &__title {
        font-size: $fs-xl;
        font-weight: 700;
        line-height: rem(38px);
    }

    &__photo {
        width: rem(550px);
        height: rem(350px);
        margin-top: rem(85px);
        margin-right: rem(40px);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__btn {
        width: fit-content;
        margin-top: rem(40px);
    }

    &__subtitle {
        margin-top: rem(40px);
        font-size: rem(20px);
        font-weight: 700;
        line-height: rem(35px);
        text-transform: uppercase;

        &:first-child {
            margin-top: 0;
        }
    }

    &__text-section {
        padding: rem(80px) 0;
    }

    .title-wrapper:first-child {
        padding-top: 0;
    }
}

// === PRODUCT TABS ===
.product-page__tabs {
    &-buttons {
        padding-bottom: rem(9px);
        margin-top: rem(50px);
        border-bottom: rem(1px) solid #e6e6e6;
    }

    &-item {
        display: none;

        &.active-tab {
            display: block;
        }
    }
}

// === PRODUCT TAB ====
.product-page__tab {
    position: relative;
    font-size: $fs-xxs;
    font-weight: 700;
    line-height: rem(16px);
    color: #acbfca;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    transition: $transition;

    &::before {
        position: absolute;
        right: 0;
        bottom: rem(-10px);
        left: auto;
        width: 0;
        height: rem(1px);
        content: '';
        background-color: $dark;
        transition: $transition;
    }

    &.active {
        color: $dark;

        &::before {
            right: auto;
            left: 0;
            width: 100%;
        }
    }

    &:hover {
        color: darken(#acbfca, 30%);
    }

    & + & {
        margin-left: rem(30px);
    }
}

// === SHOW - MORE ===
.product-page__description {
    max-width: rem(560px);
    margin-top: 25px;

    &.show-more {
        font-size: rem(18px);
        line-height: rem(21px);
    }

    .show-more__button {
        padding-bottom: rem(4px);
        font-size: $fs-xs;
        font-weight: 700;
        line-height: rem(19px);
        color: $dark;
        cursor: pointer;
        user-select: none;
        border-bottom: rem(2px) solid $orange;
        transition: $transition;

        &:hover {
            color: lighten($dark, 25%);
        }
    }

    .show-more__dots {
        margin-right: rem(15px);
    }

    .show-more__more-text {
        display: none;
        margin-right: rem(15px);
    }
}

// === PRODUCT DESCRIPTION ===
.product-desc {
    padding: 80px 0;

    .text {
        text-align: justify;
    }

    &__list {
        margin-top: rem(30px);
        font-size: $fs-s;
        line-height: rem(35px);
        color: #707070;

        &-item {
            list-style: disc inside;
        }
    }

    &__img {
        margin: rem(65px) 0 rem(85px);

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__btn {
        display: block;
        margin: rem(50px) auto 0;
    }

    &__includes {
        margin-top: rem(75px);

        .product-page__subtitle {
            color: #acd372;

            & + & {
                margin-top: rem(30px);
            }
        }
    }
}

// === PRODUCT - REVIEWS SECTION ===
.product-reviews {
    padding: rem(80px) 0;

    .title-wrapper {
        padding: 0;
    }
}

.product-review {
    display: flex;

    &__btn {
        display: block;
        margin: rem(60px) auto 0;
    }

    &__img {
        flex-shrink: 0;
        width: rem(78px);
        height: rem(78px);
        margin: rem(17px) rem(32px) 0 0;

        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
    }

    &__info {
        width: 100%;
        padding-top: rem(20px);
        border-top: rem(1px) solid #d9d9d9;

        &-top {
            display: flex;
            align-items: flex-end;
        }
    }

    &__name {
        margin-right: rem(20px);
        font-weight: 700;
        line-height: rem(19px);
    }

    &__date {
        font-size: rem(12px);
        line-height: rem(14px);
        color: $gray;
    }

    &__text {
        margin-top: rem(10px);
    }

    &__videos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: rem(15px);
        grid-column-gap: rem(15px);
        margin-top: rem(40px);
    }

    &__video {
        width: 100%;
        max-width: rem(345px);
        height: rem(200px);

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    & + & {
        margin-top: rem(40px);
    }
}

// === PRODUCT - RESULT SECTION ===
.product-result {
    height: rem(1020px);
    padding: rem(83px) 0;
    background: url('../images/default/product-result-bg.webp') center / cover no-repeat;

    .title-wrapper {
        padding-top: 0;

        &__main {
            color: $white;
        }
    }

    &__wrapper {
        position: relative;
    }

    &__item {
        position: absolute;
        color: $white;
        $parrent: &;

        &-info {
            position: relative;
            width: 100%;
            max-width: rem(280px);
        }

        &-title {
            position: relative;
            display: flex;
            align-items: center;
            font-size: rem(42px);
            line-height: rem(42px);
            text-transform: uppercase;
            white-space: nowrap;
            @include Bebas_Neue_Cyrillic;

            &::after {
                width: 100%;
                height: rem(1px);
                margin-left: rem(50px);
                content: '';
                background-color: $white;
                border-top: rem(1px) solid $white;
            }

            &::before {
                position: absolute;
                right: 0;
                width: rem(16px);
                height: rem(16px);
                content: '';
                background-color: $white;
                border-radius: 100%;
            }

            span {
                max-width: rem(250px);
                white-space: pre-wrap;
            }
        }

        &-text {
            margin-top: rem(10px);
        }

        &:nth-child(1n) {
            top: rem(150px);

            #{$parrent}-title {
                width: calc(37vw + 90px);
                max-width: rem(760px);
            }
        }

        &:nth-child(2n) {
            top: rem(370px);
            right: 0;
            max-width: none;

            #{$parrent}-info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                max-width: rem(250px);
                margin-left: auto;
            }

            #{$parrent}-title {
                width: calc(28vw + 90px);
                max-width: rem(550px);

                &::after {
                    position: absolute;
                    left: 0;
                    width: rem(16px);
                    height: rem(16px);
                    margin-left: 0;
                    border-radius: 100%;
                }

                &::before {
                    position: inherit;
                    flex-shrink: 2;
                    width: 100%;
                    height: rem(1px);
                    margin-right: rem(50px);
                    content: '';
                }

                span {
                    display: block;
                    width: 100%;
                }
            }
        }

        &:nth-child(3n) {
            top: rem(640px);

            #{$parrent}-title {
                width: calc(35vw + 90px);
                max-width: rem(650px);
            }
        }
    }
}

// === / THE BEST PACKAGING (section) ===
.product-packaging {
    padding: rem(80px) 0;
    background-color: $white;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__photo {
        width: rem(400px);
        height: rem(530px);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__items {
        width: 40%;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-img svg {
            width: rem(60px);
            height: rem(60px);
        }

        &-text {
            width: 70%;
            font-size: $fs-s;
            line-height: rem(23px);
            text-transform: uppercase;
        }

        & + & {
            margin-top: rem(50px);
        }
    }
}

// === COLENEN SECTION ===
.product-colenen {
    min-height: rem(685px);
    padding: rem(68px) 0;
    color: $white;
    background: url('../images/default/product-colenen-bg.webp') center / cover no-repeat;

    &__wrapper {
        width: 76%;
        margin-left: auto;
    }

    &__items {
        position: relative;
        display: grid;
        grid-template-rows: repeat(1, minmax(198px, min-content));
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-row-gap: rem(20px);
        grid-column-gap: rem(20px);
        padding-top: rem(50px);
        margin-top: rem(40px);
        border-top: rem(1px) solid rgba(217, 217, 217, 0.35);
    }

    &__item {
        max-width: rem(198px);
        text-align: center;

        &-top {
            font-size: rem(56px);
            line-height: rem(56px);
            @include Bebas_Neue_Cyrillic;
        }

        &-text {
            margin-top: rem(27px);
        }
    }

    .title-wrapper__main {
        color: $white;
        text-align: left;
    }

    .text {
        line-height: rem(23px);
        color: $white;
    }

    .text + .text {
        margin-top: rem(20px);
    }
}

// === NATURAL BLOCK ===
.product-natural {
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(370px), 1fr));
        grid-row-gap: rem(50px);
        grid-column-gap: rem(50px);
        max-width: rem(1205px);
        margin: rem(76px) auto 0;
    }

    &__item {
        display: flex;
        align-items: center;

        &-img {
            margin-right: rem(100px);
        }

        &-text {
            font-size: $fs-s;
            line-height: rem(23px);
            text-transform: uppercase;
        }
    }
}

// === YOUTH IS OUT OF TIME SECTION ===

.product-outside-time {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: rem(828px);
    background: url('../images/content/outside-time-bg.webp') center / cover no-repeat;
    $parrent: &;

    &__title {
        width: 100%;
        max-width: rem(335px);
        font-size: rem(80px);
        line-height: rem(80px);
        color: $white;
        @include Bebas_Neue_Cyrillic;
    }

    &__button {
        width: 100%;
        max-width: rem(300px);
        padding: rem(11px) rem(15px);
        margin-top: rem(120px);
        cursor: pointer;
        background-color: $white;
        border-radius: rem(16px);
        transition: $transition;

        &-text {
            font-size: rem(25px);
            line-height: rem(29px);
            color: $dark;
            transition: $transition;
        }

        &:hover {
            background-color: $dark;

            #{$parrent}__button-text {
                color: $white;
            }
        }
    }
}

// === PRODUCT PAGE -- YOUTHFULNESS WITH COLLAGEN ===
@import 'sections-styles/product-page--youthfulness';

// === MEDIA ===
@media (max-width: rem(1000px)) {
    .product-page {
        .title-wrapper {
            padding-top: rem(40px);
            text-align: center;
        }

        .text {
            font-size: $fs-xs;
            line-height: rem(19px);
        }

        &__top {
            padding-bottom: rem(60px);
        }

        &__text-section {
            padding: rem(40px) 0;
        }
    }

    // === PRODUCT PACKAGING ===
    .product-packaging {
        padding: rem(40px) 0;
    }

    // === PRODUCT - RESULT SECTION ===
    .product-result {
        height: rem(892px);
        padding: rem(60px) 0;
        background-position: rem(-600px);

        &__item {
            right: 0;

            &-info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                max-width: rem(150px);
            }

            &-title {
                width: calc(28vw + 90px);
                max-width: rem(550px);
                white-space: pre-wrap;

                &::after {
                    position: absolute;
                    left: 0;
                    width: rem(16px);
                    height: rem(16px);
                    margin-left: 0;
                    border-radius: 100%;
                }

                &::before {
                    position: inherit;
                    width: 100%;
                    height: rem(1px);
                    margin-right: rem(50px);
                    content: '';
                }

                span {
                    display: block;
                    width: 100%;
                    max-width: rem(150px);
                }
            }

            &-text {
                max-width: rem(150px);
                font-size: $fs-xxs;
                line-height: rem(16px);
                text-align: left;
            }
        }

        &__item:nth-child(1n) {
            top: rem(370px);

            .product-result__item-title {
                width: 70vw;
            }
        }

        &__item:nth-child(2n) {
            top: rem(150px);

            .product-result__item-title {
                width: 60vw;

                span {
                    display: block;
                    width: 100%;
                    max-width: rem(150px);
                }
            }

            .product-result__item-text {
                text-align: left;
            }
        }

        &__item:nth-child(3n) {
            top: rem(640px);

            .product-result__item-title {
                width: 55vw;
            }
        }
    }
}

@media (max-width: rem(950px)) {
    .product-page {
        &__top {
            padding-top: rem(52px);
        }

        &__photo {
            width: rem(400px);
            height: rem(300px);
        }

        &__info {
            width: 55%;
        }
    }

    .breadcrumbs__list-item {
        margin-top: rem(15px);
    }
}

@media (max-width: rem(850px)) {
    .product-page {
        .breadcrumbs {
            margin-left: 0;
        }

        &__content {
            flex-direction: column;
            align-items: center;
        }

        &__description {
            max-width: 100%;
        }

        &__photo {
            width: 100%;
            max-width: rem(500px);
            height: 100%;
            max-height: rem(400px);
            margin: 0 0 rem(60px) 0;
        }

        &__info {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__btn {
            order: 1;
            margin: rem(40px) auto 0;
        }
    }

    .product-desc {
        &__img {
            margin: rem(80px) rem(-15px);
        }

        &__text {
            text-align: left;
        }
    }

    // product reviews
    .product-review__videos {
        grid-template-columns: repeat(2, 1fr);
    }

    // === NATURAL BLOCK ===
    .product-natural__items {
        grid-template-columns: repeat(auto-fit, minmax(rem(300px), 1fr));
    }

    // === PRODUCT PACKAGING ===
    .product-packaging {
        &__items {
            width: 50%;
        }

        &__photo {
            width: rem(216px);
            height: rem(283px);
        }
    }

    // === COLENEN SECTION ===
    .product-colenen {
        background-position: 70%;

        &__wrapper {
            width: 100%;
        }

        &__items {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            justify-items: center;
        }

        .title-wrapper__main {
            text-align: center;
        }
    }

    // === PRODUCT - RESULT SECTION ===
    .product-result {
        background-position: rem(-670px);
    }
}

@media (max-width: rem(700px)) {
    // product reviews
    .product-review__videos {
        grid-template-columns: repeat(1, 1fr);
    }

    // === NATURAL BLOCK ===
    .product-natural__item {
        justify-content: center;

        &-img {
            width: rem(60px);
        }

        &-text {
            width: 50%;
            font-size: $fs-xs;
            line-height: rem(19px);
        }
    }

    // === PRODUCT - RESULT SECTION ===
    .product-result {
        background-position: rem(-730px);
    }
}

@media (max-width: rem(600px)) {
    // === PRODUCT - RESULT SECTION ===
    .product-result {
        background-position: rem(-770px);
    }
}

@media (max-width: rem(550px)) {
    .product-page {
        &__top {
            padding: rem(23px) 0 rem(31px);
        }

        &__photo {
            max-width: rem(400px);
            max-height: rem(300px);
        }
    }

    // === PRODUCT PACKAGING ===
    .product-packaging {
        &__content {
            flex-direction: column;
        }

        &__items {
            width: 70%;
            margin-top: rem(40px);
        }
    }

    // === PRODUCT - RESULT SECTION ===
    .product-result {
        background-position: rem(-790px);
    }
}

@media (max-width: rem(500px)) {
    .product-page__description {
        max-width: rem(560px);
        margin-top: rem(25px);

        &.show-more {
            font-size: $fs-xs;
            line-height: rem(19px);
        }
    }

    .product-page__tabs-buttons {
        padding-top: rem(40px);
    }

    .product-page__subtitle {
        margin: rem(40px) 0;
        font-size: $fs-s;
        line-height: rem(23px);
    }

    .product-desc {
        &__img {
            margin: rem(40px) rem(-15px);
        }

        &__includes {
            margin-top: rem(40px);
        }

        &__list {
            font-size: $fs-xs;
            line-height: rem(19px);
        }
    }

    // product reviews
    .product-review {
        padding-top: rem(17px);
        border-top: rem(1px) solid #d9d9d9;

        &__img {
            width: rem(38px);
            height: rem(38px);
            margin-top: 0;
        }

        &__info {
            padding-top: 0;
            border: 0;
        }

        &__videos {
            margin-top: rem(20px);
        }
    }
}

@media (max-width: rem(450px)) {
    .product-page {
        &__photo {
            width: rem(292px);
            height: rem(186px);
            margin: rem(20px) 0 rem(100px) 0;
        }

        &__btn {
            margin: rem(40px) auto 0;
        }

        &__title {
            font-size: $fs-m;
            line-height: rem(30px);
        }
    }

    // === NATURAL BLOCK ===
    .product-natural__item-img {
        margin-right: rem(35px);
    }

    // === PRODUCT PACKAGING ===
    .product-packaging__items {
        width: 100%;
    }

    // === PRODUCT - RESULT SECTION ===
    .product-result {
        background-position: rem(-840px);
    }

    // === YOUTH IS OUT OF TIME SECTION ===
    .product-outside-time__title {
        font-size: 70px;
        line-height: 70px;
    }
}
