// === REVIEWS ===
.review {
    position: relative;
    display: flex;
    padding-top: rem(17px);

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 110px);
        height: rem(1px);
        content: '';
        background-color: #d9d9d9;
    }

    &__avatar {
        flex-shrink: 0;
        width: rem(78px);
        height: rem(78px);
        margin-right: rem(32px);
        border-radius: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__info {
        font-size: $fs-xs;
        line-height: rem(19px);
        color: $dark;

        &-name {
            font-weight: 700;
        }

        &-text {
            margin-top: rem(10px);
            line-height: rem(23px);
        }

        &-list {
            margin-bottom: rem(20px);

            &-item::before {
                padding-right: rem(5px);
                content: '-';
            }
        }
    }

    &__tags {
        margin-top: rem(59px);
    }

    &__tags-item {
        pointer-events: none;
        cursor: auto;
        opacity: .5;
    }

    & + & {
        margin-top: rem(56px);
    }

    &__video {
        display: block;
        width: 100%;
        max-width: rem(688px);
        height: rem(388px);
        margin-top: rem(20px);
    }

    &__images {
        display: grid;
        grid-template-rows: repeat(1, minmax(rem(250px), min-content));
        grid-template-columns: repeat(auto-fit, minmax(rem(250px), 1fr));
        grid-row-gap: rem(20px);
        grid-column-gap: rem(20px);
        margin-top: rem(40px);

        &-item {
            max-width: rem(465px);
            max-height: rem(455px);

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: left bottom;
            }
        }
    }
}
// === / REVIEWS ===

// === MEDIA QUERIES ===

@media (max-width: rem(1000px)) {
    .review {
        &::before {
            width: 100%;
        }

        &__avatar {
            width: rem(38px);
            height: rem(38px);
            margin-right: rem(25px);
        }

        & + & {
            margin-top: rem(40px);
        }

        &__images {
            margin-top: rem(20px);

            &-item {
                max-width: rem(400px);
            }
        }

        &__video {
            height: auto;
        }
    }
}

@media (max-width: rem(500px)) {
    .review__avatar {
        margin-right: rem(15px);
    }
}
