// === SALE ===
.sale {
    padding: 0 0 rem(100px);
    background-color: $light-50;

    &__top {
        margin-bottom: rem(130px);
    }

    &__items {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: rem(35px);
        grid-column-gap: rem(20px);
        justify-content: center;
    }

    &__btn {
        display: none;
        justify-content: center;
        margin: rem(80px) auto 0;
    }
}
// === / SALE ===

// === MEDIA ===

@media (max-width: rem(1440px)) {
    .sale {
        &__items {
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: rem(40px);
        }
    }
}

@media (max-width: rem(1100px)) {
    .sale {
        padding: 0 0 rem(75px);

        &__items {
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: rem(50px);
        }

        &__top {
            margin-bottom: rem(27px);
        }

        .product-card {
            margin: 0 auto;
        }

        &__btn {
            display: flex;
        }
    }
}

@media (max-width: rem(720px)) {
    .sale {
        &__items {
            grid-template-columns: repeat(1, 1fr);
        }

        &__item:not(:nth-child(-n+3)) {
            display: none;
        }
    }
}
