// === SEE-ALSO ===
.see-also {
    height: rem(516px);
    background-color: $white;

    &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: rem(46px);
    }

    &__item {
        width: rem(586px);
        height: rem(236px);
        font-size: $fs-xl;
        line-height: rem(35px);
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: rem(16px);
        transition: $transition;
        @include displayFlexCenter;

        &:hover {
            box-shadow: rem(5px) rem(5px) rem(15px) rem(5px) rgba(0, 0, 0, 0.15);
        }
    }
}
// === / SEE-ALSO ===
