// === TAG SYSTEM ===

.tag-system-body {
    background-color: #f5f5f5;
}

.tag-system {
    padding-bottom: rem(100px);

    &-content {
        padding: rem(61px) rem(20px);
        margin-top: rem(78px);
        overflow: hidden;
        background-color: white;
    }

    &-items {
        flex-direction: column;
        margin-bottom: rem(40px);
        @include displayFlexCenter;
    }

    .title-wrapper {
        margin-bottom: rem(88px);
    }

    &__item + &__item {
        margin-top: rem(56px);
    }

    &-pagination {
        margin: rem(180px) auto 0;
        text-align: center;
    }
}

// === DEFAULT ITEM ===

.tag-system {
    &__item {
        position: relative;
        width: 100%;
        max-width: rem(1181px);
        padding-top: rem(17px);

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: rem(1px);
            content: '';
            background-color: #d9d9d9;
        }

        &-tags {
            margin-top: rem(59px);
        }

        &-tag {
            pointer-events: none;
            cursor: auto;
            opacity: .5;
        }
    }

    &__info {
        font-size: $fs-xs;
        line-height: rem(19px);
        color: $dark;

        &-name {
            font-weight: 700;
        }

        &-text {
            margin-top: rem(10px);
        }

        &-list {
            margin-bottom: rem(20px);

            &-item::before {
                padding-right: rem(5px);
                content: '-';
            }
        }
    }
}

// === TAG SYSTEM REVIEW PAGE ===

.tag-system--review {
    .tag-system__item {
        display: flex;

        &::before {
            width: calc(100% - 110px);
        }
    }

    .tag-system__photo {
        flex-shrink: 0;
        width: rem(78px);
        height: rem(78px);
        margin-right: rem(32px);
        border-radius: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

// === TAG SYSTEM RESULT PAGE ===

.tag-system--result .tag-system {
    &__img {
        display: grid;
        grid-template-rows: repeat(1, minmax(rem(250px), min-content));
        grid-template-columns: repeat(auto-fit, minmax(rem(250px), 1fr));
        grid-row-gap: rem(20px);
        grid-column-gap: rem(20px);
        margin-top: rem(40px);

        &-item {
            max-width: rem(465px);
            max-height: rem(455px);

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: left bottom;
            }
        }
    }

    &__item-tags {
        margin-top: rem(40px);
    }
}

// tag item

.tag-system .tag-item {
    display: inline-block;
    width: fit-content;
    padding: rem(12px) rem(16px);
    margin: rem(6px);
    font-size: $fs-xxs;
    line-height: rem(16px);
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background-color: $white;
    border: rem(1px) solid $dark !important;
    border-radius: rem(5px);
    transition: $transition;

    &:hover,
    &.mixitup-control-active {
        border: rem(1px) solid $red-light !important;
        box-shadow: 0 0 0 rem(2.5px) rgba($red-light, 1) inset;
    }
}

// tabs

.tag-system .tabs {
    display: flex;
    margin-left: rem(-13px);

    &-item {
        padding: rem(12px) rem(16px);
        margin-left: rem(14px);
        font-size: $fs-xxs;
        line-height: rem(16px);
        color: $dark;
        text-transform: uppercase;
        cursor: pointer;
        user-select: none;
        background-color: white;
        border: rem(1px) solid $dark;
        border-radius: rem(5px);
        transition: $transition;

        &:hover,
        &.active {
            border: rem(1px) solid $red-light !important;
            box-shadow: 0 0 0 rem(2.5px) rgba($red-light, 1) inset;
        }

        &:nth-child(2n) {
            background-color: #e5ffd1;
        }

        &:nth-child(3n) {
            background-color: #ffc5c1;
        }

        &:nth-child(4n) {
            background-color: #ddfdff;
        }

        &:nth-child(5n) {
            background-color: #fef5c5;
        }

        &:nth-child(6n) {
            background-color: #e7deff;
        }
    }

    &-content {
        margin-top: rem(24px);
        margin-left: rem(-7px);
    }
}

// === / TAG SYSTEM ===

// === MEDIA QUERIES ===

@media (max-width: rem(1000px)) {
    .tag-system {
        padding-bottom: rem(50px);

        &-content {
            padding-top: rem(40px);
        }

        .tabs {
            flex-wrap: wrap;
            white-space: nowrap;

            &-content {
                margin-left: rem(-10px);
            }

            &-item {
                margin: rem(7px);
            }
        }

        .title-wrapper {
            padding-top: rem(40px);
            margin-bottom: rem(40px);
        }

        &__item {
            &::before {
                width: 100%;
            }

            & + & {
                margin-top: rem(40px);
            }

            &-tags {
                margin-top: rem(27px);
            }
        }

        .tag-item {
            padding: rem(9px);
        }
    }

    .tag-system__item-tags .tag-item {
        padding: rem(12px) rem(10px);
        font-size: rem(10px);
        line-height: rem(8px);
    }

    // === TAG REVIEW PAGE ===

    .tag-system--review .tag-system__photo {
        width: rem(38px);
        height: rem(38px);
    }

    // === TAG RESULT PAGE ===
    .tag-system--result .tag-system {
        &__img {
            margin-top: rem(20px);
        }

        &__item-tags {
            margin-top: rem(20px);
        }
    }
}
