// === TAG SYSTEM ===

.tag-system-body {
    background-color: #f5f5f5;
}

.tag-system {
    padding-bottom: rem(100px);

    &-content {
        padding: rem(61px) rem(20px);
        margin-top: rem(78px);
        overflow: hidden;
        background-color: white;
    }

    &-items {
        flex-direction: column;
        margin-bottom: rem(40px);
        @include displayFlexCenter;
    }

    .title-wrapper {
        margin-bottom: rem(88px);
    }

    &__item + &__item {
        margin-top: rem(56px);
    }

    &-pagination {
        margin: rem(180px) auto 0;
        text-align: center;
    }
}

// === TAG SYSTEM REVIEW PAGE ===

.tag-system--review .review {
    width: 100%;
    max-width: rem(1181px);
    padding-top: rem(17px);
}

// === TAG SYSTEM RESULT PAGE ===

.tag-system--result {
    .review {
        width: 100%;
        max-width: rem(1181px);
        padding-top: rem(17px);

        &::before {
            width: 100%;
        }
    }

    .review__images {
        display: grid;
        grid-template-rows: repeat(1, minmax(rem(250px), min-content));
        grid-template-columns: repeat(auto-fit, minmax(rem(250px), 1fr));
        grid-row-gap: rem(20px);
        grid-column-gap: rem(20px);
        margin-top: rem(40px);

        &-item {
            max-width: rem(465px);
            max-height: rem(455px);

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: left bottom;
            }
        }
    }

    .review__tags {
        margin-top: rem(40px);
    }
}

// tag item

.tag-item {
    display: inline-block;
    width: fit-content;
    padding: rem(12px) rem(16px);
    margin: rem(6px);
    font-size: $fs-xxs;
    line-height: rem(16px);
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background-color: $light-50;
    border: rem(1px) solid $dark !important;
    border-radius: rem(5px);
    transition: $transition;

    &:hover,
    &.mixitup-control-active {
        border: rem(1px) solid $red-light !important;
        box-shadow: 0 0 0 rem(2.5px) rgba($red-light, 1) inset;
    }
}

// tabs

.tag-system .tabs {
    display: flex;
    flex-wrap: wrap;

    &-item {
        position: relative;
        padding: rem(20px) rem(30px);
        font-size: $fs-xxs;
        font-weight: 700;
        line-height: rem(16px);
        color: $dark;
        text-transform: uppercase;
        cursor: pointer;
        background: hsl(0, 0%, 94%);
        transition: $transition;

        &::after {
            position: absolute;
            top: 50%;
            left: 0;
            width: rem(1px);
            height: rem(20px);
            content: '';
            background-color: rgba($dark, 0.2);
            transition: $transition;
            transform: translateY(-50%);
        }

        &:first-child::after,
        &.active + &::after,
        &.active::after {
            opacity: 0;
        }

        &:hover,
        &.active {
            background: $light-50;
            box-shadow: 0 rem(4px) rem(4px) rgba($dark, 0.08);

            &:nth-child(2n) {
                color: #96c671;
            }

            &:nth-child(3n) {
                color: #d86e67;
            }

            &:nth-child(4n) {
                color: #f4d634;
            }

            &:nth-child(5n) {
                color: #947dd3;
            }

            &:nth-child(6n) {
                color: #96c671;
            }
        }
    }

    &-content {
        margin-top: rem(24px);
        margin-left: rem(-7px);
    }
}

// === / TAG SYSTEM ===

// === MEDIA QUERIES ===

@media (max-width: rem(1000px)) {
    .tag-system {
        padding-bottom: rem(50px);

        &-content {
            padding-top: rem(40px);
        }

        .title-wrapper {
            padding-top: rem(40px);
            margin-bottom: rem(40px);
        }

        &__item {
            &::before {
                width: 100%;
            }

            & + & {
                margin-top: rem(40px);
            }

            &-tags {
                margin-top: rem(27px);
            }
        }

        .tag-item {
            padding: rem(9px);
        }
    }

    .tag-system__item-tags .tag-item {
        padding: rem(12px) rem(10px);
        font-size: rem(10px);
        line-height: rem(8px);
    }

    // === TAG RESULT PAGE ===
    .tag-system--result .tag-system {
        &__img {
            margin-top: rem(20px);
        }

        &__item-tags {
            margin-top: rem(20px);
        }
    }
}

@media (max-width: rem(800px)) {
    .tag-system .tabs-item {
        padding: rem(20px) rem(18px);
        font-size: $fs-xs;
        line-height: rem(19px);
    }
}

@media (max-width: rem(500px)) {
    .tag-system .tabs-item {
        padding: rem(18px);
        font-size: rem(12px);
        line-height: rem(14px);
    }
}
