// === TEAM ===
.team {
    background-color: white;

    .title-wrapper {
        padding-top: rem(155px);
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: rem(51px);
    }

    &__item {
        width: 34%;
        height: rem(412px);

        img {
            width: 100%;
            height: 100%;
        }
    }
}
// === / TEAM ===
