@import "vars";
@import "fonts";

// === RESET STYLES ===

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

//::-webkit-scrollbar {
//    width: 5px;
//}
//
//::-webkit-scrollbar-track {
//    background: transparent;
//}
//
//::-webkit-scrollbar-thumb {
//    background-color: #cbbb9f;
//}
//
//:root {
//    scrollbar-color: #cbbb9f transparent;
//    scrollbar-width: thin;
//}

input[type='number'] {
    -moz-appearance: textfield;
}

//input::-webkit-outer-spin-button,
//input::-webkit-inner-spin-button {
//    -webkit-appearance: none;
//}

div {
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

button,
input {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

button {
    padding: 0;
    margin: 0;
    border: none !important;
    outline: none !important;
}

a {
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
}

img {
    display: flex;
    object-fit: cover;
}

* {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

// === GLOBAL STYLE ===

body {
    font-family: 'Roboto', sans-serif;
    font-size: $fs-xs;
    font-weight: 400;
    line-height: rem(19px);
    background-color: white;
    transition: $transition;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: rem(217px);
    overflow: hidden;
}

.container {
    max-width: rem(1435px);
    padding: 0 rem(15px);
    margin: 0 auto;
}

// === SHADOW ===

.shadow {
    // position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    // visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    // opacity: 0;
    transition: $transition;
}

// === TITLE ===

.title-wrapper {
    position: relative;
    padding-top: rem(100px);
    text-align: center;

    &__main {
        font-size: $fs-xxl;
        line-height: rem(48px);
        color: $dark;
        text-transform: uppercase;
        @include Bebas_Neue_Cyrillic($weight: 400);
    }

    &__text {
        margin-top: rem(30px);
    }
}

// === BUTTONS ===

.btn {
    display: inline-block;
    min-width: rem(322px);
    padding: rem(12px);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: rem(16px);
    transition: $transition;

    .btn__text {
        font-size: $fs-m;
        line-height: rem(29px);
        text-align: center;
        white-space: nowrap;
    }

    &--transparent {
        border: rem(1px) solid $red-light;

        .btn__text {
            color: $red-light;
            transition: $transition;
        }

        &:hover {
            background-color: $red-light;

            .btn__text {
                color: $white;
            }
        }
    }

    &--orange {
        position: relative;

        .btn__text {
            position: relative;
            z-index: 1;
            color: $white;
        }

        &::before,
        &::after {
            position: absolute;
            top: 50%;
            right: 50%;
            bottom: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            content: '';
            border-radius: rem(16px);
            transition: $transition;
            transform: translate(-50%, -50%);
        }

        &::after {
            background: $orange;
            opacity: 1;
        }

        &::before {
            background: linear-gradient(270deg, $purple 0%, #52417e 100%);
            opacity: 0;
        }

        &:hover {
            &::before {
                opacity: 1;
            }

            &::after {
                opacity: 0;
            }
        }
    }

    &--red {
        background: $red-light;
        transition: $transition;

        .btn__text {
            color: $white;
        }

        &:hover {
            background-color: $purple;
        }
    }
}

// === LOGO ===

.logo {
    display: flex;
    text-transform: uppercase;

    &__photo {
        width: rem(61px);
        height: rem(51px);

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        margin-left: rem(23px);
        white-space: nowrap;

        &-bottom {
            font-weight: 700;
        }

        span {
            display: block;
        }

        span + span {
            margin-top: rem(7px);
        }
    }
}

// === SOCIAL ===

.social {
    margin-left: rem(27px);

    &__items {
        display: flex;
    }

    &__item {
        width: rem(32px);
        height: rem(32px);

        & + & {
            margin-left: rem(15px);
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

// === PRODUCT - CARD ===

.product-card {
    width: rem(344px);
    height: rem(436px);
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(rem(1000px));
    -moz-transform: perspective(rem(1000px));
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    &__img {
        max-width: rem(262px);
        max-height: rem(200px);
        margin: auto auto 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__content {
        margin-top: rem(72px);
        font-size: $fs-s;
        line-height: rem(23px);
        color: $dark;

        &-title {
            margin-top: rem(15px);
        }

        &-price {
            position: relative;
            padding-right: rem(25px);
            margin-top: rem(3px);

            &::before {
                position: absolute;
                top: 35%;
                right: 0;
                bottom: 50%;
                font-size: rem(10px);
                line-height: rem(12px);
                color: $dark;
                content: 'UAH';
                transform: translateY(-50%);
            }
        }
    }

    &__back {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: rem(344px);
        height: rem(436px);
        padding: rem(16px);
        background-color: rgb(255, 255, 255);
        transform: rotateY(-180deg);

        &-button {
            min-width: 100%;
            background-color: $orange;

            .btn__text {
                color: $white;
            }
        }
    }

    &__front {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: rem(344px);
        height: rem(436px);
        padding: rem(16px);
        background-color: rgb(255, 255, 255);
        transform: rotateY(0deg);
    }

    &__back-description {
        margin: rem(13px) 0 auto 0;
        font-size: $fs-s;
        line-height: rem(23px);
        color: $dark;
    }

    &__back-button {
        margin-top: 43px;
    }
}

.product-card__type {
    padding-bottom: rem(9px);
    font-size: $fs-s;
    line-height: rem(20px);
    color: #adbfbf;
    border-bottom: 1px solid #e6e6e6;
    @include Bebas_Neue_Cyrillic($weight: 400);
}

.product-card__flip {
    position: relative;
    transition: 0.4s;
    transform-style: preserve-3d;
}

.product-card__front,
.product-card__back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.product-card:hover {
    & .product-card__back {
        transform: rotateY(0deg);
    }

    & .product-card__front {
        transform: rotateY(-180deg);
    }
}

// === TEXT ===

.text {
    font-size: 20px;
    line-height: 35px;
    color: #707070;
}

// === PAGINATION ===

.pagination {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #d9d9d9;

    &__title {
        margin-right: rem(15px);
    }

    &__item {
        color: $purple;

        &-current {
            color: #d9d9d9;
        }

        & + & {
            margin-left: rem(5px);
        }
    }
}
