@import "fonts";

// === FONT ===

@mixin Bebas_Neue_Cyrillic($weight) {
    font-family: 'Bebas_Neue_Cyrillic', sans-serif;
    font-weight: $weight;
}

@mixin mobileHeaderArrow {
    position: relative;

    &::after {
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 50%;
        width: 16px;
        height: 13px;
        content: '';
        background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='16' height='13' viewBox='0 0 16 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 11.3136L14.364 4.94964L15.7782 6.36386L9.41421 12.7278L8 11.3136Z' fill='%2336414D'/%3e%3cpath d='M14.364 7.77817L8.00005 1.41421L9.41427 0L15.7782 6.36386L14.364 7.77817Z' fill='%2336414D'/%3e%3cpath d='M14 7.00001H0V5.00001H14V7.00001Z' fill='%2336414D'/%3e%3c/svg%3e");
        transform: translateY(-50%);
    }
}

@mixin displayFlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

//@mixin img ($width, $height) {
//    width: $width;
//    max-width: 100%;
//    height: $height;
//    max-height: 100%;
//
//    img {
//        width: 100%;
//        height: 100%;
//    }
//}

// === FONT-SIZE ===

$fs-xxs: rem(14px);
$fs-xs: rem(16px);
$fs-s: rem(20px);
$fs-m: rem(25px);
$fs-l: rem(28px);
$fs-xl: rem(32px);
$fs-xxl: rem(48px);

// === ANIMATION ===

$transition: all .4s ease-in-out;

// === COLORS ===
$dark: #36414d;
$white: #fbfbfb;
$gray: #c4c4c4;

$green-50: #328c4f;
$green-100: #91c164;
$green-150: #84ff70;

$orange: #fa6926;

$red: #a5121e;
$red-light: #f95f55;

$blue-50: #4b6387;
$blue-100: #5b91ad;
$blue-150: #76a5af;

$purple: #6d4fbf;

// === FUNCTION ===
// === PX to REM function ===

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function rem($num) {
    @return (strip-unit($num) / 16) * 1rem;
}
